:root {
  --branding-color:#E7C295;
  --secodary-color: #264461;
  --hover-color: #CE8733;
  --heading-font-family: font-family: 'Josefin Sans', sans-serif;
  --default-font-family: font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
font-family: var(--heading-font-family);
color: black;
}