:root {
  --branding-color:#52BCEC;
  --secodary-color: #E68F1B;
  --hover-color: #F0EDE6;
  --heading-font-family: font-family: 'Josefin Sans', sans-serif;
  --default-font-family: font-family: 'Roboto', sans-serif;
}
body {
    background-color: var(--branding-color);
}

h1,h2,h3,h4,h5,h6 {
font-family: var(--heading-font-family);
color: black;
}

.main-page {
    background-color: white;
}